@keyframes efectoAumentado {
    0%{
        font-size: 2rem;
    }50%{
        font-size: 3rem;
    }100%{
        font-size: 2rem;
    }
}
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
}
.container-productos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: baseline;
    grid-row: 1;
    grid-column: 2;
    border-left: 2.5px solid rgba(33, 130, 190, 0.896);
    padding: 1rem;
    background-color: aliceblue;
}
.contenedor-mensajes{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7777aa;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}
.contenedor-mensajes.mostrar-mensaje{
    visibility: visible;
    z-index: 1500;
}
.contenedor-mensajes span{
    font-size: 3.5rem;
    color: rgb(21, 143, 21);
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 15px;
    font-family: inherit;
}
.container-productos.no-resultados{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.seccion-productos-filtros{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
    gap: 10px;
}
.container-filtros{
    grid-row: 1;
    grid-column: 1;
    border-right: 2.5px solid rgba(33, 130, 190, 0.896);
    padding: 1rem;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: aliceblue;
}
#busqueda-nombre{
    padding: 0.5rem;
    border: 1.5px solid black;
    border-radius: 6px;
}
#abrir-carrito{
    padding: 0.6rem;
    font-size: 1.1rem;
    background-color: rgba(33, 130, 190, 0.896);
    border: none;
    cursor: pointer;
}
.filtros-sticky{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}
.filtros-sticky ul{
    padding: 0;
}
.filtrar-precio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtrar-fecha{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filtros li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 2rem;
    padding: 0.5rem;
}
.filtros li:hover{
    background-color: rgba(33, 130, 190, 0.896);
    border-radius: 10px;
    transition: .7s;
}
.producto{
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    -webkit-box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
}
#noprod-foto{
    width: 20%;
}
.producto div.foto-producto{
    width: 100%;
    display: flex;
    align-items: center;
}
.producto div.foto-producto img{
    max-width: 50%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.producto div.foto-producto .mostrar{
    opacity: 1;
}
.producto div.foto-producto i{
    font-size: 2rem;
    background-color: rgba(33, 130, 190, 0.896);
    border-radius: 50%;
    padding: 0.5rem;
    transition: .5s;
    cursor: pointer;
}
.producto div.foto-producto i:hover{
    animation-name: efectoAumentado;
    animation-fill-mode: backwards;
    animation-duration: 1s;
}
.producto div.datos-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.contenedor-carrito{
    background-color: #00000044;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: .7s;
}
.carrito{
    position: fixed;
    height: 100vh;
    width: 40vh;
    background-color: whitesmoke;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: .7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.carrito button{
    cursor: pointer;
}
.carrito h3{
    font-size: 1.5rem;
}
.vaciar-carrito{
    position: absolute;
    bottom: 15%;
    background-color: rgb(204, 15, 15);
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.finalizar-compra{
    background-color: rgba(33, 130, 190, 0.896);
    border: none;
    width: 60%;
    padding: 1rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: 5%;
    font-weight: bold;
}
#cerrar-carrito{
    position: absolute;
    left: 5%;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: rgba(33, 130, 190, 0.896);
    padding: 0.7rem;
    border-radius: 60%;
}
#cerrar-carrito:hover{
    cursor: pointer;
}
.mostrar .carrito{
    transform: translateX(0);
}
.modal-productos{
    background-color: #000000aa;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.contenido-modal img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    border-radius: 15px;
}
.contenido-modal button{
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
.contenido-modal{
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.contenido-modal h3,h4{
    margin: 0.6em;
}
#cerrar-modal{
    position: fixed;
    right: 30px;
    top: 30px;
    font-size: 2rem;
    cursor: pointer;
}
.mostrar{
    opacity: 1;
    z-index: 999;
}
.contenedor-productos-carrito div.producto-carrito{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    -webkit-box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
box-shadow: -4px 7px 21px -7px rgba(0,0,0,0.75);
}
.contenedor-productos-carrito{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70vh;
    overflow-y: auto;
}
.contenedor-productos-carrito img{
    width: 40%;
    object-fit: cover;
    border-radius: 15px;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.contenido .nombre-producto{
    font-weight: bold;
}
.botones-carrito{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contenido button{
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}